asgiref==2.3.2
async-timeout==3.0.0
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
Click==7.0
constantly==15.1.0
dj-database-url==0.5.0
Django==2.0.11
django-appconf==1.0.2
django-compressor==2.2
django-heroku==0.3.1
django-managepy-anywhere==2.0
django-sass-processor==0.7.1
Flask==1.0.2
Flask-SocketIO==3.0.2
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
jsonfield==2.0.2
libsass==0.15.1
MarkupSafe==1.1.0
numpy==1.15.2
pandas==0.23.4
patsy==0.5.0
psycopg2==2.7.5
PyHamcrest==1.9.0
python-dateutil==2.7.3
python-engineio==2.3.2
python-socketio==2.0.0
pytz==2018.5
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
statsmodels==0.9.0
txaio==18.8.1
tzlocal==1.5.1
Werkzeug==0.14.1
whitenoise==4.1.1
zope.interface==4.5.0
